<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>Hi <%= user.name %>,</div>
      <div>You requested to reset your password</div>
      <div>Please click the below link to reset your password</div>
      <div>
        <a href="<%- user.link %>" target="_blank">Reset Your Password</a>
      </div>
    </div>
  </body>
</html>
